body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

hr {
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 20px;
}

#signUpForm {
  padding-left: 3em;
  padding-right: 3em;
}

#signUpText {
  padding-top: 2em;
}

#loginForm {
  padding: 1em;
}

.loadingIcon {
  display: flex;
}

.tripLinks {
  font-size: 20px;
  display: flex;
}

#newTripForm {
  padding-left: 3em;
  padding-right: 3em;
}

.lists {
  padding-left: 4em;
  padding-right: 4em;
}

.addItemForms {
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
}

.listHeaders {
  padding-left: 2em;
}
